venv/
__pycache__/
*.pyc
/lib
/docker/postgres_data
/docker/grafana_data
.DS_Store
.env
/logs/
block_stats_debug.py
block_stats_debug.py
.ipynb_checkpoints/
.ipynb_checkpoints/block_stuff-checkpoint.ipynb
btc-db-10102024.sql
btc-block_hashes.sql
btc-block_headers.sql
btc-block_stats.sql
/supabase/
Supabase.postman_collection.json
db_backup.dump